<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>WebSiteProject</display-name>
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
</welcome-file-list>

<!-- 마리아DB 연결정보를 컨텍스트 초기화 파라미터로 추가하기 -->
<context-param>
    <param-name>MariaDBDriver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
</context-param>
<context-param>
    <param-name>MariaDBURL</param-name>
    <param-value>jdbc:mariadb://127.0.0.1:3306/hj890825</param-value>
</context-param>
<context-param>
    <param-name>MariaDBId</param-name>
    <param-value>musthave_user</param-value>
</context-param>
<context-param>
    <param-name>MariaDBPwd</param-name>
    <param-value>1234</param-value>
</context-param>

<!-- 한글 깨짐에 대한 인코딩 필터 설정 -->
<filter>
    <filter-name>SetCharEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      	<param-name>encoding</param-name>
      	<param-value>utf-8</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>SetCharEncoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<!-- 게시판 페이징 처리를 위한 파라미터 추가 -->
<!-- 한 페이지에 출력할 게시물의 개수 -->
<context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
</context-param>
<!-- 한 블럭당 출력할 페이지 번호의 개수 -->
<context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
</context-param>
<!-- 첨부파일의 제한 용량(한번에 올릴수 있는 총량) -->
<context-param>
    <param-name>maxPostSize</param-name>
    <param-value>3072000</param-value>
</context-param>
</web-app>